*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleHome{
    margin-top: 20px;
}


.Oppo{
    height: 720px;
}

form {
    padding-top: 30px;
    margin: 0 auto;
    width: 400px;
}

/* Loader */

.loader{     
    position: fixed;
    background-color: rgba(209, 209, 209, 0.88);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 100;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

  /* Fin Loder */

  /* Inicio de sesion */
  Form{
    max-width: 500;
    margin: 1rem auto;
    border: 1px solid  black ;
    padding: 3rem;
    margin: 2;
    background:url("https://thumbs.dreamstime.com/b/rizos-del-humo-rojo-en-el-fondo-blanco-99009465.jpg") no-repeat center top;
    background-size: cover;
    color: black;
    font-weight:bold;

    border-radius: 30px;
    
  }
  

  .button{
    border: 0;
    background-image:linear-gradient(150deg,#fff,crimson,salmon,firebrick,maroon,red,black) ;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    transition: .3s;
    
  }
  .button span{
    background-color: black;
    padding: 6px 30px;
    border-radius: 6px;
    transition: .3s;
  }

  button:hover span {
    background: none;
  }


.Oppo{
    height: 720px;
}

form {
    padding-top: 30px;
    margin: 0 auto;
    width: 400px;
}

/* Loader */

.loader{     
    position: fixed;
    background-color: rgba(209, 209, 209, 0.88);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 100;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

  /* Fin Loder */

  button:active{
    transform: scale(0.9);
  }

  .c{
    font-size: 25px;
    color: black;
    text-decoration:underline;
  }

  .co{
    font-size: 25px;
    color: black;
    text-decoration:underline;
  }













/* -------- TEORIA--------- */
/* Para que las columnas no se pongan una encima de otra - COLUMNAS */
/* .col{
    margin: 1rem 0;
} */

/* Para que las filas no se pongan una encima de otra y que se despeguen - FILAS */
/* .row{
    padding: 1rem 0;
} */


/* Clases de bootstrap personalizadas */
/* .p-5{
    3 rem
} */

/* 3 === 1rem */

/* => padding en el y => superior e inferior */
/* py => padding en el y superior e inferior
px => en el eje x => izquierda- derecha
pr => padding rigth
pl => padding :left
pt => padding top 
pb => padding botton */